body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: Arial;
}

.box {
  margin: 120px auto;
  width: 300px;
  padding: 20px;
  text-align: center;
  border: 2px solid #444;
  border-radius: 10px;
}

input, button {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00e676;
  font-weight: bold;
  cursor: pointer;
}
